
Ubuntu
======

sudo apt-get install libgmp-dev
sudo apt-get install libmpfr-dev
sudo apt-get install libmpc-dev


Python3
=======

pip3 install bjson
pip3 install pycryptodomex
pip3 install xmltodict
pip3 install requests
pip3 install bjson
pip3 install pysocks
pip3 install nem-ed25519


pycryptodomex
xmltodict
requests
bjson
pysocks
nem-ed25519
